<div class="col-sm-3 offset-sm-1 blog-sidebar">
  <div class="sidebar-module sidebar-module-inset">
    <h4>About</h4>
    <p>Etiam porta <em>sem malesuada magna</em> mollis euismod. Cras mattis consectetur purus sit amet fermentum. Aenean lacinia bibendum nulla sed consectetur.</p>
  </div>
  <div class="sidebar-module">
    <h4>Elements Used</h4>
    <ol class="list-unstyled">
      <li><a href="#">Hydrogen</a></li>
      <li><a href="#">Helium</a></li>
      <li><a href="#">Lithium</a></li>
      <li><a href="#">Beryllium</a></li>
      <li><a href="#">Boron</a></li>
      <li><a href="#">Carbon</a></li>
      <li><a href="#">Nitrogen</a></li>
      <li><a href="#">Oxygen</a></li>
      <li><a href="#">Fluorine</a></li>
      <li><a href="#">Neon</a></li>
      <li><a href="#">Sodium</a></li>
      <li><a href="#">Magnesium</a></li>
    </ol>
  </div>
  <div class="sidebar-module">
    <h4>Elsewhere</h4>
    <ol class="list-unstyled social-links">
       <li><a href="#"><%= fa_icon "github" %></a></li>
       <li><a href="#"><%= fa_icon "instagram" %></a></li>
       <li><a href="#"><%= fa_icon "facebook" %></a></li>
       <li><a href="#"><%= fa_icon "twitter" %></a></li>
    </ol>
  </div>
</div>