<h1>Home Page</h1>

<h3><%= link_to "Blogs", blogs_path %>
<h3><%= link_to "Portfolios", portfolios_path %>

<p>Find me in app/views/pages/home.html.erb</p>

<h2> Blog Posts</h2>
<%= @posts.inspect %>

<hr>

<h2> Skills </h2>
<%= @skills.inspect %>