<div class="inner cover">
  <h1 class="cover-heading"></h1>
  <p class="lead"></p>
  <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary transparent" %>
  </p>
</div>

<div class="row">
  <% @tweets.each do |tweet| %>
    <div class="col-md-6">
      <div class="tech-news">
        <div class="card">
          <%= twitter_parser tweet %>
        </div>
      </div>
    </div>
  <% end %>
</div>